html, body {
    font-family: 'WYekan';
    font-size: 12px;
}

:root, .m-subheader .m-subheader__title {
    font-family: 'WYekan'
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-family: 'WYekan'
}

.btn, .form-control, .btn.m-btn--custom {
    font-family: 'WYekan'
}

.form-control {
    padding: .5rem 1rem;
}

.img-circle {
    border-radius: 50%
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-right: 5px;
}

.form-group {
    margin-bottom: .4rem;
}

label {
    margin-bottom: .3rem;
}

.modal .modal-content .modal-header {
    padding: 1rem;
}

.modal .modal-content .modal-body {
    padding: 1rem;
}

.modal-header .close {
    padding-top: 2rem;
}

.col-template-val {
    margin: 0 0 1em .5em;
}

.modal .modal-content .modal-footer {
    padding: 1rem;
}

.popover {
    right: auto;
    font-family: 'WYekan'
}

.modal-dialog {
    max-width: 600px;
}

.modal-lg {
    max-width: 80%;
}

.k-i-expand::before {
    content: "\e007";
}

.k-i-collapse::before {
    content: "\e002";
}

.mds-bootstrap-persian-datetime-picker-container table th, .mds-bootstrap-persian-datetime-picker-container table td, .mds-bootstrap-persian-datetime-picker-container .btn {
    font-size: inherit;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: right;
}

.accept {
    background-color: aquamarine;
    text-align: center;
    border-radius: 5px
}

.faild {
    background-color: indianred;
    text-align: center;
    color: white;
    border-radius: 5px
}

.notAcceptable {
    background-color: yellow;
    text-align: center;
    border-radius: 5px
}

.notAccessible {
    background-color: burlywood;
    text-align: center;
    border-radius: 5px
}

/*div.dropdown-menu .dropdown-menu {
    background-color: azure
}*/

.m-aside-header-menu-mobile .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    font-size: 1.1rem;
}
/*body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}
.modal::-webkit-scrollbar {
    width: 0 !important;
}
.modal-body-parent {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}*/
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    font-size: 1.2rem !important;
    /*font-weight:bold;*/
    color: #302f2f !important;
}

.m-aside-menu .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text {
    font-size: 1.05rem !important
}

.k-treeview .k-in {
    margin: 1px 12px 1px .16666em;
}

.radio-lable {
    padding: 2px 1em 0 0;
}

.k-draghandle.k-state-selected:hover,
.k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected,
.k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected,
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
    background-color: #6289db;
    border-color: #6289db;
}

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
    background-color: #6289db;
}

.k-autocomplete, .k-dropdown-wrap, .k-numeric-wrap, .k-picker-wrap, .k-textbox {
    padding: 0 0 0 0;
}

.k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected,
.k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    box-shadow: inset 0 0 3px 1px #6289db;
}

.k-button.k-state-active, .k-button:active {
    background-color: #6289db;
    border-color: #6289db;
}

div.k-treeview {
    overflow-y: hidden;
}

.menu-font {
    font-size: 14px
}

.k-treeview .k-in {
    line-height: 1.9em;
}


.m-aside-left.m-aside-left--skin-dark {
    margin-top: 6px;
    margin-right: 6px;
    background-color: #e9e697 /*#edeaac*/; /*#e9e697*/ /*rgb(255,255,255)*/
    ;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active {
    border-radius: 2px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open {
    background-color: #7f82d0 /*#4d9efe*/ /*rgb(109, 174, 210)*/;
    border-radius: 2px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open {
    /*padding-left:10px;
    padding-right:10px;*/
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: white;
}

.m-brand.m-brand--skin-dark {
    background-color: #6164C1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.m-page--wide .m-header, .m-page--fluid .m-header {
    background-color: #6568ce;
    margin-right: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span {
    background: white;
}

.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    background-color: #8c7ae6;
    color:white !important;
}

.m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
    background-color: #6164C1;
    color:white !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: #dd0606
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__ver-arrow, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__ver-arrow {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__ver-arrow, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__ver-arrow {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text {
    color: white;
}

.m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: white
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: white;
}

.m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark
.m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: white
}

.m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark
.m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: white
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #dd0606;
    font-weight: bold;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
    background-color: #dd0606;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-icon {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__ver-arrow {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-icon {
    color: white;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
    background-color: #2D1674;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon > i::before {
    background-color: white !important;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before,
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after {
    background: #ffffff;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    color: rgb(85,98,109)
}

    .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,
    .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text:hover {
        color: #dd0606;
    }

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #dd0606;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    font-size: 2rem;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span {
    background: white;
}

    .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span::before, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span::after {
        background: white;
    }

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span {
    background: white;
}

    .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::before, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::after {
        background: white;
    }

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__icon > i {
    color: white;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__icon:hover > i {
    color: white;
}

.k-autocomplete, .k-draghandle, .k-dropdown-wrap, .k-grid-header, .k-grouping-header, .k-header, .k-numeric-wrap, .k-pager-wrap, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap, .k-progressbar, .k-state-highlight, .k-tabstrip-items .k-item, .k-textbox, .k-toolbar, .km-pane-wrapper > .km-pane > .km-view > .km-content {
    background-color: #C1C2AD /* #706fd3*/ /*rgb(109, 174, 210)*/;
}

.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator {
    background-color: #d1ccc0 /*#7948d1*/;
}

.k-grid tr:hover {
    background-color: #ced6e0;
}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
    background-color: #193ef7;
}

.k-grid .k-button {
    background-color: #e3edf0;
}

.k-dropdown .k-state-focused, .k-filebrowser-dropzone, .k-list > .k-state-hover, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-recur-view .k-check:active, .k-pager-wrap .k-link:hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-state-hover, .k-state-hover:hover {
    background-color: #e8edf0;
}

.btn-taghavi {
    color: #fff;
    background-color: rgb(109, 174, 210);
    border-color: rgb(109, 174, 210);
}

.btn-NeoBank {
    color: #302f2f !important;
    background-color: #7eb4f5;
    border: solid #4e94e6 1px !important;
    width: 165px !important;
    height:50px;
    font-size: 12px !important;
    text-align: right !important;
    margin:20px;
}
.shadow {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.modal-header {
    background-color: #838BC2 /*rgb(109, 174, 210)*/;
    color: #fff;
}

.second-modal-header {
    background-color: #715C8C;
    color: #fff;
}

.modal .modal-content .modal-header .modal-title {
    color: #fff;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #8080c0;
}

.modal .modal-content .modal-header .close {
    color: white;
}

.k-detail-cell .k-tabstrip .k-content {
    padding: 0.2em;
}

.action-result-details ul {
    list-style: none;
    font-style: italic;
    margin: 15px;
    padding: 0;
}

    .action-result-details ul li {
        margin: 0;
        line-height: 1.7em;
    }

.action-result-details label {
    display: inline-block;
    width: 150px;
    padding-right: 10px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text small {
    font-family: 'WYekan'
}

.waitModal {
    top: 40%;
    right: 40%;
    width: 300px;
    height: 200px;
}

.box {
    margin-top: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

fieldset {
    margin: 8px;
    border: 1px solid #5867dd;
    padding: 8px;
    border-radius: 4px;
    display: none
}

legend {
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    color: #5867dd;
    width: 100px;
}
